{% extends "layout.html" %}
<body>
    {% block content %}
    <div class="container">
            
        <h1>About Page</h1>
            
            <p>Welcome to our Flask blog project!</p>
            <p>This blog is dedicated to sharing insightful articles, tips, and tutorials about Flask web development.</p>
            <p>Our goal is to provide valuable resources and knowledge to help you learn and master Flask.</p>
            <p>Whether you're a beginner or an experienced developer, this blog is designed to assist and inspire you on your Flask journey.</p>
            <p>Stay tuned for regular updates and new content!</p>
        </div>
        <footer>
            <div class="container">
                <p>&copy; 2023 Flask Blog. All rights reserved.</p>
                <p>Created by Samer Alloush</p>
            </div>
        </footer>
        
    {% endblock  %}

</body>




<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
<title>Flask Blog -- {{title}}</title>
{%else%}
<title>Flask Blog</title>
{% endif %}
</head>
<body>
    <h1>Welcome to About Page</h1>
</body>
</html> -->